<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77642443204-asjvc5q5a5hng2vtom3u1939d44arhkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77642443204-asjvc5q5a5hng2vtom3u1939d44arhkp</string>
	<key>API_KEY</key>
	<string>AIzaSyCPKzzhyhM3PJecwUzq17O2jxxdIgDs-RM</string>
	<key>GCM_SENDER_ID</key>
	<string>77642443204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transport</string>
	<key>PROJECT_ID</key>
	<string>habibi-52021</string>
	<key>STORAGE_BUCKET</key>
	<string>habibi-52021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77642443204:ios:c1b4737ae719c77f471c91</string>
</dict>
</plist>